<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
<!--  <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">-->
</head>
<body>
<h1>用户输入：</h1>
<form action="/login/" method="post">
  {% csrf_token %}
  用户名：<input type="text" name="username"/><br/>
  密码：<input type="password" name="password"/><br/>
  <input type="submit" value="提交"/>
</form>
<br>
<img loading="lazy" src="{% static 'login/images/image40.jpg' %}" alt="London Bridge" width="400" height="200">
<h1>用户展示：</h1>
<table border="1">
  <thead>
  <tr>用户名</tr>
  <tr>密码</tr>
  </thead>
  <tbody>
  {% for item in data %}
  <tr>
    <td>{{ item.username }}</td>
    <td>{{ item.password }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<script src="{% static 'login/js/jquery.min.js' %}"></script>
</body>
</html>